
<form  class="bg-black" #form ="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="space-y-12 boarder">
      <div class="p1">
        <h2 class="profile text-white">Profile</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">This information will be displayed publicly so be careful what you share.</p>

      </div>
  
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-white">Personal Information</h2>
        <p class="mt-1 text-sm leading-6 text-gray-500">Use a permanent address where you can receive mail.</p>
  
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-white">First name</label>
            <div class="mt-2">
              <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="firstName" [(ngModel)]="model.firstName">
            </div>
          </div>
  
          <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm font-medium leading-6 text-white">Last name</label>
            <div class="mt-2">
              <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="familyName" [(ngModel)]="model.lastName">
            </div>
          </div>
  
            <div class="sm:col-span-2 sm:col-start-1">
            <label for="city" class="block text-sm font-medium leading-6 text-white">Gender</label>
            <div class="mt-2">
              <input type="text" name="gender" id="city" autocomplete="address-level2" class="city" [(ngModel)]="model.gender">
            </div>
          </div>

  
          <div class="sm:col-span-2 sm:col-start-1">
            <label for="city" class="block text-sm font-medium leading-6 text-white">Phone Number</label>
            <div class="mt-2">
              <input type="text" name="phoneNumber" id="city" autocomplete="address-level2" class="city" [(ngModel)]="model.phoneNumber">
            </div>
          </div>

          <div class="sm:col-span-2 sm:col-start-1">
            <label for="city" class="block text-sm font-medium leading-6 text-white">Academic Programme</label>
            <div class="mt-2">
              <input type="text" name="academicProgramme" id="academicprogramme" autocomplete="address-level2" class="city" [(ngModel)]="model.academicProgramme">
            </div>
          </div>

          <div class="sm:col-span-2 sm:col-start-1">
            <label for="city" class="block text-sm font-medium leading-6 text-white">Birthday</label>
            <div class="mt-2">
              <input type="date"  name="birthday" id="birthday" autocomplete="address-level2" class="city" [(ngModel)]="model.birthday">
            </div>
          </div>
           

          <div class="sm:col-span-2 sm:col-start-1">
            <label for="city" class="block text-sm font-medium leading-6 text-white">Enrolled Date</label>
            <div class="mt-2">
              <input type="date" name="enrolledDate" id="enrolledDate" autocomplete="address-level2" class="city" [(ngModel)]="model.enrolledDate">
            </div>
          </div>

          <a class="text-white" href="admin/gettingstudentdetails">Link Text</a>

          <div class="sm:col-span-2 sm:col-start-1">
            <label for="city" class="block text-sm font-medium leading-6 text-white">No</label>
            <div class="mt-2">
              <input type="text" name="no" id="no" autocomplete="address-level2" class="city" [(ngModel)]="model.no">
            </div>
          </div>
  
          <div class="sm:col-span-2">
            <label for="region" class="block text-sm font-medium leading-6 text-white">Street</label>
            <div class="mt-2">
              <input type="text" name="street" id="street" autocomplete="address-level1" class="region" [(ngModel)]="model.street">
            </div>
          </div>
  
          <div class="sm:col-span-2">
            <label for="postal-code" class="block text-sm font-medium leading-6 text-white">District</label>
            <div class="mt-2">
              <input type="text" name="district" id="district" autocomplete="postal-code" class="postalCode" [(ngModel)]="model.district">
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="button" class="text-sm font-semibold leading-6 text-white">Cancel</button>
      <button type="submit" class="buttonSave">Save</button>
    </div>
  </form>
  