
<div style="background-color: black;">
    <div class="container">
        <div class="left-column">
            <h1>University of Arizona</h1>
            <div>
                <button  type="submit" 
                         style="width: 6cm;"
                         (click)="NaviagateToDashboard()" 
                         class=" bg-gray-900 flex justify-center rounded-md px-4 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Get Started
                </button>
            </div>
        </div>
        <div class="right-column">
            <div class="section-with-background">
                <!-- Content of the left side goes here -->
            </div>
        </div>
    </div>
    <h1 class="about">About</h1>
    <p>Welcome to the University of Arizona

        Discover a world-class educational experience at the University of Arizona, where innovation meets tradition. As a leading public research university, we are committed to excellence in teaching, research, and service. Our vibrant campus community fosters intellectual curiosity and collaboration, providing students with the skills and knowledge to thrive in a rapidly changing world.
        
        Founded in 1885, the University of Arizona has a rich history of academic achievement and a strong tradition of pushing the boundaries of discovery. Our diverse and inclusive environment encourages students to explore their passions, engage in groundbreaking research, and contribute to the global community.
        
        At the heart of Tucson, Arizona, our campus is surrounded by stunning desert landscapes and offers a dynamic cultural scene. From cutting-edge research facilities to championship-winning athletic programs, the University of Arizona provides a comprehensive and fulfilling college experience.
        
        Join us on a journey of learning, exploration, and personal growth. Become part of a community that values innovation, diversity, and the pursuit of knowledge. The University of Arizona is where your future begins.</p>



        <div class="isolate bg-black px-6 py-24 sm:py-32 lg:px-8 contact">
            <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
            <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            <div class="mx-auto max-w-2xl text-center">
            <h1 >Contacts</h1>
            <p class="mt-2 text-lg leading-8 text-white"></p>
            </div>
           
            <p style="padding-top: 1cm ;">
                        Employment
            Emergency Information
            Title IX / Non-Discrimination
            Campus Safety
            Annual Security Report
            Copyright
            Campus Accessibility
            Contact Us
            Feedback
            The University of Arizona | Tucson, Arizona 85721 | 520‑621‑2211
        </p>
        </div>

      
  
    </div>

  