<div class="bg-black p-4">
    <div class="py-3"></div>
    <h1 class="text-white py-4">Students</h1>
    <table class=" text-sm bg-black table-auto w-full border-collapse border border-slate-700 rounded-lg shadow-md">
        <thead>
            <tr class="text-left text-white bg-slate-900">
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Student ID</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">First Name</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Last Name</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Gender</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Academic Programme</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Birthday</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">phoneNumber</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">enrolled Date</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Modify</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Delete</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of model" class="text-white border-b border-white hover:bg-white">
                <td class="px-2 py-2">{{ item.studentID }}</td>
                <td class="px-2 py-2">{{ item.firstName }}</td>
                <td class="px-2 py-2">{{item.lastName }}</td>
                <td class="px-2 py-2">{{ item.gender }}</td>
                <td class="px-2 py-2">{{ item.academicProgramme }}</td>
                <td class="px-2 py-2">{{ item.birthday}}</td>
                <td class="px-2 py-2">{{ item.phoneNumber }}</td>
                <td class="px-2 py-2">{{ item.enrolledDate }}</td>
                <td class="px-2 py-2">
                    <a href="admin/login" class="text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Update</a>
                </td>
                <td class="px-2 py-2">                    
                    <a href="admin/login" class="text-sm font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
