<div class="flex items-end justify-center min-h-screen   text-center sm:block sm:p-0">
    
<form  class="bg-black " 
       #form ="ngForm" >
  <div class="space-y-12 boarder flex justify-center">

    <div class="border-b border-white-900/10 pb-12 ">
      <h2 class="profile text-white mt-4 ">Course Registration</h2>

      <p class="mt-2 text-gray-400" >All the courses will be displayed on each user.</p>
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2 justify-center">

        <div class="sm:col-span-1 ">
          <label for="region" class="block text-sm font-medium leading-6 text-white">Course Code</label>
          <div class="mt-2 form-group">
            <input #courseCode = "ngModel"
                  type="text" 
                  name="courseCode" 
                  id="courseCode" 
                  autocomplete="address-level1" 
                  class="region" 
                  [(ngModel)]="model.courseCode"
                  [class.is-invalid] ="courseCode.invalid && courseCode.touched"
                  pattern="^[A-Z]{2}\d{3}$"
                  required>
          <div *ngIf="courseCode.errors && (courseCode.dirty || courseCode.touched)">
            <small style="color: red" 
                   class="text-danger" 
                   *ngIf="courseCode.errors?.['required']">Course code is required!
            </small>
            <small style="color: red" 
                   class="text-danger" 
                   *ngIf="courseCode.errors?.['pattern']">Course code should consits with three integers and two letters!
            </small>  
          </div>
          </div>
        </div>

        <div class="sm:col-span-1 ">
          <label for="city" 
                 class="block text-sm font-medium leading-6 text-white">Level
          </label>
          <div class="mt-2 form-group">
            <select #level="ngModel"
                    type="number"
                    [class.is-invalid]="level.invalid && level.touched"
                    name="level"
                    id="level"
                    autocomplete="address-level2"
                    class="city"
                    [(ngModel)]="model.level"
                    required>
              <option value=100>100 Level</option>
              <option value=200>200 Level</option>
              <option value=300>300 Level</option>
              <option value=400>400 Level</option>
            </select>
            <small class="text-danger" 
                   [class.d-none]="level.dirty || level.untouched">Please select the level!
            </small>
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="postal-code" 
                 class="block text-sm font-medium leading-6 text-white">Course Name
          </label>
          <div class="mt-2 form-group">
            <input #courseName="ngModel"
                   type="text" 
                   name="courseName" 
                   id="courseName" 
                   autocomplete="courseName" 
                   class="postalCode" 
                   [(ngModel)]="model.courseName"
                   [class.is-invalid] ="courseName.invalid && courseName.touched"
                   pattern="^[A-Z]{5,}"                   
                   required
                   >
          <div *ngIf="courseName.errors && (courseName.dirty || courseName.touched)">
            <small style="color: red" 
                   class="text-danger" 
                   *ngIf="courseName.errors?.['required']">Course name is required!
            </small> 
            <small style="color: red" 
                   class="text-danger" 
                   *ngIf="courseName.errors?.['pattern']">Course name should be in capital letters and minimum five letters!
            </small> 
          </div>
          </div>
        </div>

        <div class="sm:col-span-1">
          <label for="postal-code" class="block text-sm font-medium leading-6 text-white">Category</label>
          <div class="mt-2 form-group">
            <select #category="ngModel"
                    type ="text" 
                    name="category" 
                    id="category" 
                    autocomplete="courseName" 
                    class="postalCode"
                    [class.is-invalid] ="category.invalid && category.touched" 
                    [(ngModel)]="model.category"
                    required>
              <option value="cs">Computer Science</option>
              <option value="phy">Physics</option>
              <option value="chem">Chemistry</option>
            </select>
            <small class="text-danger" 
                   [class.d-none]="category.dirty || category.untouched">Please select the Category!
            </small>
            </div>
        </div>
  
          <div class="sm:col-span-1 ">
            <label for="region" class="block text-sm font-medium leading-6 text-white">Semester</label>
            <div class="mt-2 form-group">
              <select #semester ="ngModel"
                      type="number" 
                      name="Semester" 
                      id="Semester" 
                      autocomplete="address-level1" 
                      class="region"
                      [class.is-invalid]="semester.invalid && semester.touched" 
                      [(ngModel)]="model.semester"
                      required>
                <option value=1>1 st semester</option>
                <option value=2>2 nd semester</option>
              </select>
              <small class="text-danger" 
                     [class.d-none]="semester.dirty || semester.untouched">Please select the semester!
              </small>
            </div>
          </div>
  
          <div class="sm:col-span-1">
            <label for="postal-code" 
                   class="block text-sm font-medium leading-6 text-white">Start Date
            </label>
            <div class="mt-2 form-group">
              <input #startDate = "ngModel"
                     type="date" 
                     name="StartDate" 
                     id="date" 
                     autocomplete="courseName" 
                     class="postalCode" 
                     [(ngModel)]="model.startDate"
                     [class.is-invalid]="startDate.invalid && startDate.touched"
                     required>
              <small style="color: red" 
                     class="text-danger"   
                     [class.d-none]="startDate.untouched || startDate.valid">Start Date of the course is required!
              </small>
            </div>
          </div>
         
          <div class="sm:col-span-1 ">
            <label for="postal-code " 
                   class="block text-sm font-medium leading-6 text-white ">End Date
            </label>
            <div class="mt-2 form-group">
              <input #endDate ="ngModel"
                     type="date" 
                     name="endDate" 
                     id="date" 
                     autocomplete="courseName" 
                     class="postalCode" 
                     [(ngModel)]="model.endDate"
                     [class.is-invalid]="endDate.invalid && endDate.touched" 
                     required>
              <small style="color: red" 
                     class="text-danger"   
                     [class.d-none]="endDate.untouched || endDate.valid">End Date of the course is required!
              </small>
            </div>
          </div>
        </div>
      </div>
    

  </div>

  <div class=" flex items-center justify-center gap-x-4" >
    <button type="button" 
            class=" mb-4  text-sm font-semibold leading-6 text-white"
            (click)="backToDashboard()">Cancel
    </button>
    <button *ngIf="someIntVariable === 0" 
             type="submit" class="mb-4 buttonSave"  
             (click) ="onFormSubmit()"
             [disabled]="form.form.invalid">Save
    </button>
    <button *ngIf="someIntVariable === 1" 
             type="submit" class="mb-4 buttonSave" 
             (click) ="onFormUpdate()"
             [disabled]="form.form.invalid"
             >Update
    </button>
  </div>
</form>
</div>
