<div class="fullscreen-container" style="background-color: black;">
<div class="bg-black p-4">
  
    <div class="py-3 mt-6 flex items-center  gap-x-6">
        <h1 class="text-white py-4 items-center justify-start">Schedule Registration Details ______</h1>
       
    <button type="submit" class="buttonSave justify-end" (click)="NavigateToDahsboard()">GO TO DASHBOARD</button>
</div>
    <table class=" text-sm bg-black table-auto w-full border-collapse border border-slate-700 rounded-lg shadow-md">
        <thead>
            <tr class="text-left text-white bg-slate-900">
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Course Code</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Day</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded" >
                        <span class="text-black">Start Time</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">End Time</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Modify</span>
                    </div>
                </th>
                <th class="px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <span class="text-black">Delete</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of model" class="text-white border-b border-white hover:bg-white hcolor">
                <td class="px-2 py-2">{{ item.courseCode }}</td>
                <td class="px-2 py-2">{{ item.day }}</td>
                <td class="px-2 py-2">{{ item.startTime }} {{ getAmPmIndicator(item.startTime) }}</td>
                <td class="px-2 py-2">{{ item.endTime }} {{ getAmPmIndicator(item.endTime) }}</td>
                <td class="px-2 py-2" (click)="NavigateToUpdate(item.scheduleID)">
                    <img class="mx-auto" style="height: 20px; " src="/assets/updateIcon.png" alt="Your Company" >
                </td>
                <td class="px-2 py-2" (click)="NavigateToDelete(item.scheduleID)">                    
                    <img class="mx-auto" style="height: 20px; " src="/assets/deleteicon.png" alt="Your Company" >
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>